<a href="https://colab.research.google.com/github/bysubanji/Python_practice/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello, python?")

hello, python?

In [ ]:
var1 = 1
var2 = 10
print ("var1, var2")

var1, var2

In [ ]:
str = "hello world"
print(str)
print(str[:-4])
print("str" + "fun") #cncat

hello world
hello w
strfun

In [ ]:
dict = {}
dict[1] = ["this is 10"]
dict[2] = ["this is 2"]
tinydict = {'name': 'Bhaskar' , 'employee':'53', 'dept':'sale'}

In [ ]:
print(tinydict)

{'name': 'Bhaskar', 'employee': '53', 'dept': 'sale'}

In [ ]:
print(tinydict.keys())

dict_keys(['name', 'employee', 'dept'])

In [ ]:
print(tinydict.values())

dict_values(['Bhaskar', '53', 'sale'])

In [ ]:
print(dict[1])

['this is 10']

## Operators

Operators are the constructs, which can manipulate the value of operands. Consider the
expression 4 + 5 = 9. Here, 4 and 5 are called operands and + is called the operator.


Python language supports the following types of operators-

 Arithmetic Operators

 Comparison (Relational) Operators

 Assignment Operators

 Logical Operators

 Bitwise Operators

 Membership Operators

 Identity Operators

In [ ]:
a = 2
b =34
d = 34
print("value of d is" ,d)

value of d is 34

In [ ]:
d = a+d
print("value of d is" ,d)

value of d is 36

In [ ]:
d = b*a
print("value of d is" ,d)

value of d is 68

In [ ]:
d = b % a
print("value of d is" ,d)

value of d is 0

In [ ]:
d = a-b
print("value of d is" ,d)

value of d is -32

In [ ]:
a=3
b=3
a==b

True

In [ ]:
a=4
b=5
a==b

False

In [ ]:
a=3
b=4
a!=b

True

In [ ]:
a=3
b=3
a!=b

False

In [ ]:
a=3
b=4
a<=b

True

In [ ]:
a=3
b=4
a>=b

False

In [ ]:
a = 21
b = 10
if (a==b):
  print("a is equal to b")
else:
  print("a is N-equal to b")

a is N-equal to b

In [ ]:
c= a+b
print(c)

31

In [ ]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [ ]:
#Write a Python program to get the Python version you are using
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
Version info.
sys.version_info(major=3, minor=7, micro=12, releaselevel='final', serial=0)

In [ ]:
#  Write a Python program to display the current date and time.
import datetime
now = datetime.datetime.now()
print("current date and time: ")
print(now)
print(now.strftime('%y-%d-%m , %H:%M:%S'))

current date and time:
2022-01-09 09:57:01.193546
22-09-01 , 09:57:01

In [ ]:
# Write a Python program which accepts the radius of a circle from the user and compute the area
from math import pi
r = float(input("input the radius of circle: "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

input the radius of circle: 2
The area of the circle with radius 2.0 is: 12.566370614359172

In [ ]:
#  Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name : jhjjh
Input your Last Name : lklkl
Hello  lklkl jhjjh

In [ ]:
# 6 Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.
value = input("Input some comma seperated number: ")
list = value.split(",")
tuple = tuple(list)
print("List", list)
print("Tuple", tuple)

Input some comma seperated number: 4,5,6,7,8,9,
List ['4', '5', '6', '7', '8', '9', '']
Tuple ('4', '5', '6', '7', '8', '9', '')

In [ ]:
# 7 Write a Python program to accept a filename from the user and print the extension of that
filename = input("Filename")
fextn= filename.split(".")
print('The filename extension is : ' + repr(fextn[-1]))

Filenameklm.jpg
The filename extension is : 'jpg'

In [ ]:
# 8. Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]
print("%s,%s"%(color_list[0],color_list[-1]))

Red,Black

In [ ]:
# 9 Write a Python program to display the examination schedule. (extract the date from exam_st_date).
exam_st_date = (11, 12, 2014)
print("the exam will start form : %i / %i / %i"%exam_st_date)

the exam will start form : 11 / 12 / 2014

In [ ]:
# 10. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn
a = int(input("input an integer : "))
n1 = int("%s"% a)
n2 = int("%s%s" % (a,a))
n3 = int("%s%s%s" % (a,a,a))
print(n1+n2+n3)

input an integer : 1
123

In [ ]:
# 11. Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).

print(abs.__doc__)

Return the absolute value of the argument.

In [ ]:
#12. Write a Python program to print the calendar of a given month and year.
import calendar
y = int(input("Input the year : "))
x = int(input("input the month: "))
print(calendar.month(y,x))

Input the year : 1993
input the month: 06
     June 1993
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [ ]:
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

In [ ]:
# 14. Write a Python program to calculate number of days between two dates.
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(delta.days)

9

In [ ]:
# 15. Write a Python program to get the volume of a sphere with radius 6.
pi = 3.1415926535897931
r= 6.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

In [ ]:
# 16. Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference
def difference(n):
  if n<= 17:
    return 17-n
  else:
    return (n-17)*2

print(difference(22))
print(difference(14))

10
3

In [ ]:
# Write a Python program to test whether a number is within 100 of 1000 or 2000
def near_thousand(n):
      return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))
print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))   
print(near_thousand(2200))

True
True
False
False

In [ ]:
# 18. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum
def sum_thrice (x,y,z):
    sum = x+y+z
    if x==y==z:
      sum = sum*3
      return sum

print(sum_thrice(1, 2, 3))
print(sum_thrice(3, 3, 3))

None
27

In [ ]:
# . Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged.
def new_string(str):
  if len(str) >= 2 and str[:2] == "Is":
    return str
  return "Is" + str

print(new_string("Array"))
print(new_string("IsEmpty"))

IsArray
IsEmpty

In [ ]:
# 20. Write a Python program to get a string which is n (non-negative integer) copies of a given string
def larger_string(str, n):
   result = ""
   for i in range(n):
      result = result + str
   return result

print(larger_string('abc', 2))
print(larger_string('.py', 8))

abcabc
.py.py.py.py.py.py.py.py

In [ ]:
#  Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user

num = int(input("Enter a Numbr: "))
mod = num % 2
if mod >0:
  print("this is an ODd number ")
else :
  print("this is an Even number ")

Enter a Numbr: 5
this is an ODd number

In [ ]:
#  Write a Python program to count the number 4 in a given list.
def list_count_4(nums):
  count = 0
  for num in nums:
    if num == 4:
      count= count + 1
  return count

print(list_count_4([1, 3, 6, 7, 5,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,]))
print(list_count_4([1, 4, 6, 4, 7, 4]))

17
3

In [ ]:
# Write a Python program to get the n (non-negative integer) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2.

def substring_copy(str, n):
  flen = 2
  if flen > len(str):
    flen = len(str)
  substr = str[:flen]
  
  result = ""
  for i in range(n):
    result = result + substr
  return result
print(substring_copy('abcdef', 2))
print(substring_copy('p', 3));

abab
ppp

In [1]:
# min()
#min() function returns the minimum element of the list
#min() function only works with lists of similar data types

new_list = [6, 9, 1, 3, 5.5]
min(new_list)

1

In [2]:
my_new_list = ['a','b', 'z' ,'y' , 'm']

In [3]:
min(my_new_list)

'a'

In [ ]:
# max()
#max() function returns the maximum element of the list
#max() function only works with lists of similar data types

In [4]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [5]:
max(new_list)

'shape'

In [ ]:
# sum()
#sum() function returns the sum of the elements of the list
#sum() function only works with lists of numeric data types

In [6]:
new_list = [6, 9, 1, 3, 5.5]
sum(new_list)

24.5

In [ ]:
# sorted()
#sorted() function returns the sorted list
#sorted() function takes reverse boolean as an argument
#sorted() function only works on a list with similar data types

In [7]:
new_list

[6, 9, 1, 3, 5.5]

In [8]:
sorted(new_list)

[1, 3, 5.5, 6, 9]

In [9]:
print(new_list)

[6, 9, 1, 3, 5.5]

In [10]:
sorted(new_list,reverse=True)

[9, 6, 5.5, 3, 1]

### List Methods

In [11]:
# Create a new list
my_list = [1,2,3,1,1,1,3,10,5,8]

In [ ]:
# #append()
# Use the append() method to permanently add an item to the end of a list.
# append() method takes the element which you want to add to the list as an argument

In [12]:
# Print the list
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8]

In [13]:
# Append to the end of the list
my_list.append('hit u')

In [14]:
print(my_list)                           #the append() method changes your original list!

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'hit u']

In [15]:
my_list.append([1,2,3])

In [16]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'hit u', [1, 2, 3]]