<a href="https://colab.research.google.com/github/bysubanji/Python_practice/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello, python?")

hello, python?

In [ ]:
var1 = 1
var2 = 10
print ("var1, var2")

var1, var2

In [ ]:
str = "hello world"
print(str)
print(str[:-4])
print("str" + "fun") #cncat

hello world
hello w
strfun

In [ ]:
dict = {}
dict[1] = ["this is 10"]
dict[2] = ["this is 2"]
tinydict = {'name': 'Bhaskar' , 'employee':'53', 'dept':'sale'}

In [ ]:
print(tinydict)

{'name': 'Bhaskar', 'employee': '53', 'dept': 'sale'}

In [ ]:
print(tinydict.keys())

dict_keys(['name', 'employee', 'dept'])

In [ ]:
print(tinydict.values())

dict_values(['Bhaskar', '53', 'sale'])

In [ ]:
print(dict[1])

['this is 10']

## Operators

Operators are the constructs, which can manipulate the value of operands. Consider the
expression 4 + 5 = 9. Here, 4 and 5 are called operands and + is called the operator.


Python language supports the following types of operators-

 Arithmetic Operators

 Comparison (Relational) Operators

 Assignment Operators

 Logical Operators

 Bitwise Operators

 Membership Operators

 Identity Operators

In [ ]:
a = 2
b =34
d = 34
print("value of d is" ,d)

value of d is 34

In [ ]:
d = a+d
print("value of d is" ,d)

value of d is 36

In [ ]:
d = b*a
print("value of d is" ,d)

value of d is 68

In [ ]:
d = b % a
print("value of d is" ,d)

value of d is 0

In [ ]:
d = a-b
print("value of d is" ,d)

value of d is -32

In [ ]:
a=3
b=3
a==b

True

In [ ]:
a=4
b=5
a==b

False

In [ ]:
a=3
b=4
a!=b

True

In [ ]:
a=3
b=3
a!=b

False

In [ ]:
a=3
b=4
a<=b

True

In [ ]:
a=3
b=4
a>=b

False

In [ ]:
a = 21
b = 10
if (a==b):
  print("a is equal to b")
else:
  print("a is N-equal to b")

a is N-equal to b

In [ ]:
c= a+b
print(c)

31

In [ ]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [ ]:
#Write a Python program to get the Python version you are using
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
Version info.
sys.version_info(major=3, minor=7, micro=12, releaselevel='final', serial=0)

In [ ]:
#  Write a Python program to display the current date and time.
import datetime
now = datetime.datetime.now()
print("current date and time: ")
print(now)
print(now.strftime('%y-%d-%m , %H:%M:%S'))

current date and time:
2022-01-09 09:57:01.193546
22-09-01 , 09:57:01

In [ ]:
# Write a Python program which accepts the radius of a circle from the user and compute the area
from math import pi
r = float(input("input the radius of circle: "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

input the radius of circle: 2
The area of the circle with radius 2.0 is: 12.566370614359172

In [ ]:
#  Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name : jhjjh
Input your Last Name : lklkl
Hello  lklkl jhjjh

In [ ]:
# 6 Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.
value = input("Input some comma seperated number: ")
list = value.split(",")
tuple = tuple(list)
print("List", list)
print("Tuple", tuple)

Input some comma seperated number: 4,5,6,7,8,9,
List ['4', '5', '6', '7', '8', '9', '']
Tuple ('4', '5', '6', '7', '8', '9', '')

In [ ]:
# 7 Write a Python program to accept a filename from the user and print the extension of that
filename = input("Filename")
fextn= filename.split(".")
print('The filename extension is : ' + repr(fextn[-1]))

Filenameklm.jpg
The filename extension is : 'jpg'

In [ ]:
# 8. Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]
print("%s,%s"%(color_list[0],color_list[-1]))

Red,Black

In [ ]:
# 9 Write a Python program to display the examination schedule. (extract the date from exam_st_date).
exam_st_date = (11, 12, 2014)
print("the exam will start form : %i / %i / %i"%exam_st_date)

the exam will start form : 11 / 12 / 2014

In [ ]:
# 10. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn
a = int(input("input an integer : "))
n1 = int("%s"% a)
n2 = int("%s%s" % (a,a))
n3 = int("%s%s%s" % (a,a,a))
print(n1+n2+n3)

input an integer : 1
123

In [ ]:
# 11. Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).

print(abs.__doc__)

Return the absolute value of the argument.

In [ ]:
#12. Write a Python program to print the calendar of a given month and year.
import calendar
y = int(input("Input the year : "))
x = int(input("input the month: "))
print(calendar.month(y,x))

Input the year : 1993
input the month: 06
     June 1993
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [ ]:
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

In [ ]:
# 14. Write a Python program to calculate number of days between two dates.
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(delta.days)

9

In [ ]:
# 15. Write a Python program to get the volume of a sphere with radius 6.
pi = 3.1415926535897931
r= 6.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

In [ ]:
# 16. Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference
def difference(n):
  if n<= 17:
    return 17-n
  else:
    return (n-17)*2

print(difference(22))
print(difference(14))

10
3

In [ ]:
# Write a Python program to test whether a number is within 100 of 1000 or 2000
def near_thousand(n):
      return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))
print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))   
print(near_thousand(2200))

True
True
False
False

In [ ]:
# 18. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum
def sum_thrice (x,y,z):
    sum = x+y+z
    if x==y==z:
      sum = sum*3
      return sum

print(sum_thrice(1, 2, 3))
print(sum_thrice(3, 3, 3))

None
27

In [ ]:
# . Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged.
def new_string(str):
  if len(str) >= 2 and str[:2] == "Is":
    return str
  return "Is" + str

print(new_string("Array"))
print(new_string("IsEmpty"))

IsArray
IsEmpty

In [ ]:
# 20. Write a Python program to get a string which is n (non-negative integer) copies of a given string
def larger_string(str, n):
   result = ""
   for i in range(n):
      result = result + str
   return result

print(larger_string('abc', 2))
print(larger_string('.py', 8))

abcabc
.py.py.py.py.py.py.py.py

In [ ]:
#  Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user

num = int(input("Enter a Numbr: "))
mod = num % 2
if mod >0:
  print("this is an ODd number ")
else :
  print("this is an Even number ")

Enter a Numbr: 5
this is an ODd number

In [ ]:
#  Write a Python program to count the number 4 in a given list.
def list_count_4(nums):
  count = 0
  for num in nums:
    if num == 4:
      count= count + 1
  return count

print(list_count_4([1, 3, 6, 7, 5,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,]))
print(list_count_4([1, 4, 6, 4, 7, 4]))

17
3

In [ ]:
# Write a Python program to get the n (non-negative integer) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2.

def substring_copy(str, n):
  flen = 2
  if flen > len(str):
    flen = len(str)
  substr = str[:flen]
  
  result = ""
  for i in range(n):
    result = result + substr
  return result
print(substring_copy('abcdef', 2))
print(substring_copy('p', 3));

abab
ppp

In [ ]:
# min()
#min() function returns the minimum element of the list
#min() function only works with lists of similar data types

new_list = [6, 9, 1, 3, 5.5]
min(new_list)

1

In [ ]:
my_new_list = ['a','b', 'z' ,'y' , 'm']

In [ ]:
min(my_new_list)

'a'

In [ ]:
# max()
#max() function returns the maximum element of the list
#max() function only works with lists of similar data types

In [ ]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [ ]:
max(new_list)

'shape'

In [ ]:
# sum()
#sum() function returns the sum of the elements of the list
#sum() function only works with lists of numeric data types

In [ ]:
new_list = [6, 9, 1, 3, 5.5]
sum(new_list)

24.5

In [ ]:
# sorted()
#sorted() function returns the sorted list
#sorted() function takes reverse boolean as an argument
#sorted() function only works on a list with similar data types

In [ ]:
new_list

[6, 9, 1, 3, 5.5]

In [ ]:
sorted(new_list)

[1, 3, 5.5, 6, 9]

In [ ]:
print(new_list)

[6, 9, 1, 3, 5.5]

In [ ]:
sorted(new_list,reverse=True)

[9, 6, 5.5, 3, 1]

### List Methods

In [ ]:
# Create a new list
my_list = [1,2,3,1,1,1,3,10,5,8]

In [ ]:
# #append()
# Use the append() method to permanently add an item to the end of a list.
# append() method takes the element which you want to add to the list as an argument

In [ ]:
# Print the list
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8]

In [ ]:
# Append to the end of the list
my_list.append('hit u')

In [ ]:
print(my_list)                           #the append() method changes your original list!

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'hit u']

In [ ]:
my_list.append([1,2,3])

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'hit u', [1, 2, 3]]

In [ ]:
# extend()
## Use the extend() method to merge a list to an existing list
## extend() method takes a list or any iterable(don't worry about it now) as an argument.
## Quite helpful when you have two or more lists and you want to merge them together

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'hit u', [1, 2, 3]]

In [ ]:
my_list.extend(['Wubba','Lubba','Dub Dub'])

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'hit u', [1, 2, 3], 'Wubba', 'Lubba', 'Dub Dub', 'Wubba', 'Lubba', 'Dub Dub']

In [ ]:
# pop()
# Use pop() to "pop off" an item from the list.
# By default pop() takes off the element at the last index, but you can also specify which index to pop off.
# pop() takes the index as an argument and returns the elenent which was popped off.

In [ ]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'hit u', [1, 2, 3], 'Wubba', 'Lubba', 'Dub Dub', 'Wubba', 'Lubba', 'Dub Dub']

In [ ]:
my_list.pop(2)

3

In [ ]:
print(my_list) #pop() method changes the list by popping off the element at the specified index

[1, 2, 1, 1, 1, 3, 10, 5, 8, 'hit u', [1, 2, 3], 'Wubba', 'Lubba', 'Dub Dub', 'Wubba', 'Lubba', 'Dub Dub']

In [ ]:
# Use remove() to remove an item/element from the list.
# By default remove() removes the specified element from the list.
# remove() takes the element as an argument.
#

In [ ]:
# Print the list
print(my_list)

[1, 2, 1, 1, 1, 3, 10, 5, 8, 'hit u', [1, 2, 3], 'Wubba', 'Lubba', 'Dub Dub', 'Wubba', 'Lubba', 'Dub Dub']

In [ ]:
# Remove the element which you want to 
my_list.remove('Wubba')

In [ ]:
print(my_list)

[1, 1, 1, 1, 3, 10, 5, 8, 'hit u', [1, 2, 3], 'Lubba', 'Dub Dub', 'Wubba', 'Lubba', 'Dub Dub']

In [ ]:
#count()
#The count() method returns the total occurrence of a specified element in the list

my_list.count('Wubba')

1

In [ ]:
#index()
#The index() method returns the index of a specified element.

my_list.index('Wubba')

12

sort()
Use sort() to sort the list in either ascending/descending order
The sorting is done in ascending order by default
sort() method takes the reverse boolean as an argument
sort() method only works on a list with elements of same data type

In [ ]:
new_list = [6, 9, 1, 3, 5]

In [ ]:
# Use sort to sort the list (this is permanent!)
new_list.sort()

In [ ]:
print(new_list)

[1, 3, 5, 6, 9]

In [ ]:
# Use the reverse boolean to set the ascending or descending order
new_list.sort(reverse=True)
print(new_list)

[9, 6, 5, 3, 1]

In [ ]:
boolean_list = [True, False]

In [ ]:
boolean_list.sort(reverse=True)

In [ ]:
print(boolean_list)

[True, False]

In [ ]:
# reverse()
# reverse() method reverses the list 

my_list.reverse()

In [ ]:
print(my_list)

['Dub Dub', 'Lubba', 'Wubba', 'Dub Dub', 'Lubba', [1, 2, 3], 'hit u', 8, 5, 10, 3, 1, 1, 1, 1]

Nested Lists

A great feature of of Python data structures is that they support nesting. This means we can have data structures within data structures. For example: A list inside a list.

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=['b','a','d']
lst_3=[7,8,9]

# Make a list of lists to form a matrix
list_of_lists = [lst_1,lst_2,lst_3]

In [ ]:
print(list_of_lists)

[[1, 2, 3], ['b', 'a', 'd'], [7, 8, 9]]

In [ ]:
list_of_lists[1]   # Grab first item in matrix object    #  You can't =  list_of_lists[1][1][][][]

['b', 'a', 'd']


Tuples
In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed.
You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.
You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

In [ ]:
## Constructing Tuples
## The construction of a tuples use () with elements separated by commas.

# Create a tuple
my_tuple = (1,'a',3)

In [ ]:
# Can also mix object types 
another_tuple = ('one',2, 4.53, 'asbc')

# Show
another_tuple

('one', 2, 4.53, 'asbc')

In [ ]:
# Tuple Indexing
# Indexing work just like in lists

In [ ]:
# Grab the element at index 0, which is the FIRST element
another_tuple[0]

'one'

In [ ]:
# Grab the element at the index -3, which is the THIRD LAST element
another_tuple[-3]

2

In [ ]:
# Tuple Slicing

# Grab the elements starting from index 1 and everything past it
another_tuple[1:3]

(2, 4.53)

In [ ]:
random_tuple = (1,5,6,2)

In [ ]:
sorted(random_tuple)

[1, 2, 5, 6]

In [ ]:
# Tuple Methods
# Tuples have built-in methods, but not as many as lists do.

my_tuple =(1,2,3,4,5,6,1,1,2)

# Use .index to enter a value and return the index
my_tuple.index(2)

1

In [ ]:
# The count() method returns the total occurrence of a specified element in a tuple

# Use .count to count the number of times a value appears
my_tuple.count(2)

2

Tuple does not support methods such as append(), extend(), remove(), pop()

zip()

zip() function takes multiple lists as arguments and zips them together
This function returns a list of n-paired tuples where n is the number of lists being zipped

In [ ]:
city_list = ['Delhi','Patna','Cuttack','Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahmaputra']

In [ ]:
zip(city_list, river_list)

In [ ]:
city_and_their_rivers = list(zip(city_list,river_list))

In [ ]:
city_and_their_rivers

[('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttack', 'Mahanadi'),
 ('Guwahati', 'Brahmaputra')]

When to use Tuples
You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.
You will find them often in functions when you are returning some values
You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

Sets

Sets are an unordered collection of unique elements. We can construct them by using the set() function.
Sets cannot have duplicates.
Sets are mutable just like lists.
You can create a non-empty set with curly braces by specifying elements separated by a comma.

In [ ]:
# Create an empty set 
empty_set = set()

In [ ]:
type(empty_set)

set

In [ ]:
# Create a non-empty set within curly braces
non_empty_set = {1,6,4,'abc'}

A Time for Caution
An empty set cannot be represented as {}, which is reserved for an empty dictionary which we will get to know in a short while

In [ ]:
my_object = {}

In [ ]:
my_set = set()

In [ ]:
# Create a list with repeats
my_list = [1,1,2,2,3,4,5,6,1,1]

In [ ]:
# Cast as set to get unique values
my_set = set(my_list)

In [ ]:
my_set

{1, 2, 3, 4, 5, 6}

In [ ]:
# A set cannot have mutable items
my_set = {1, 2, (3, 4)}

We cannot create a set whose any of the elements is a list

In [ ]:
# Write a Python program to test whether a passed letter is a vowel or not
def is_vowel(char):
    all_vowels = 'aeiou'
    return char in all_vowels
print(is_vowel('c'))
print(is_vowel("f"))

False
False

In [ ]:
# Write a Python program to check whether a specified value is contained in a group of values.
def is_group_member(group_data, n):
   for value in group_data:
       if n == value:
           return True
   return False
print(is_group_member([1, 5, 8, 3], 3))
print(is_group_member([5, 8, 3], -1))

In [ ]:
nm1 = input("Entern your number: ")
nm2 = input("enter your number: ")

sum = float(nm1)+float(nm2)
print('sum of {0} and {1} is {2}'.format (nm1,nm1,sum))

Entern your number: 7
enter your number: 1
sum of 7 and 7 is 8.0

In [ ]:
num = float(input('enter your number here: '))
nmsqrt = num**0.5

print(nmsqrt)
print('sqrt of num {} is {}'.format(num,nmsqrt))

enter your number here: 25
5.0
sqrt of num 25.0 is 5.0

In [ ]:
# Find square root of real or complex numbers
# Importing the complex math module
import cmath

num = 1+2j

# To take input from the user
num = eval(input('Enter a number: '))

num_sqrt = cmath.sqrt(num)
print('The square root of {0} is {1:0.3f}+{2:0.3f}j'.format(num ,num_sqrt.real,num_sqrt.imag))

Enter a number: 23+66
The square root of 89 is 9.434+0.000j

In [ ]:
# Python Program to find the area of triangle

a = 5
b = 6
c = 7

# Uncomment below to take inputs from the user
5
a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))

# calculate the semi-perimeter
s = (a + b + c) / 2

# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

Enter first side: 6
Enter second side: 5
Enter third side: 4
The area of the triangle is 9.92

In [ ]:
## Solve the quadratic equation ax**2 + bx + c = 0

# import complex math module
import cmath

a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

Enter first side: 3
Enter second side: 5
Enter third side: 8
The solution are (-0.8333333333333334-1.4043582955293932j) and (-0.8333333333333334+1.4043582955293932j)

In [ ]:
## Python Program to Swap Two Variables
x = input('enter value of x:, ')
y = input('enter value of y:, ')
temp=x
x=y
y=temp

print('the value of x after swapping: {} '.format(x))
print('the value of y after swapping: {}'.format(y))

enter value of x:, 2
enter value of y:, 3
the value of x after swapping: 3
the value of y after swapping: 2

In [ ]:
# Python Program to Generate a Random Number
# Program to generate a random number between 0 and 9

# importing the random module
import random

print(random.randint(0,9))

6

In [ ]:
# Taking kilometers input from the user
kilometers = float(input("Enter value in kilometers: "))

# conversion factor
conv_fac = 0.621371

# calculate miles
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 2
2.00 kilometers is equal to 1.24 miles

In [6]:
# Consider a list of strings 

got_houses = ['Stark', 'Arryn', 'Baratheon', 'Tully', 'Greyjoy', 'Lannister', 'Tyrell', 'Martell', 'Targaryen']

for house in got_houses[:-1]:
  print(f'house {house}')

house Stark
house Arryn
house Baratheon
house Tully
house Greyjoy
house Lannister
house Tyrell
house Martell

In [7]:
# Using enumerate function to loop through the elements of a list
for number,house in enumerate(got_houses):
  print(f"The house no of house {house} is {number + 1}")

The house no of house Stark is 1
The house no of house Arryn is 2
The house no of house Baratheon is 3
The house no of house Tully is 4
The house no of house Greyjoy is 5
The house no of house Lannister is 6
The house no of house Tyrell is 7
The house no of house Martell is 8
The house no of house Targaryen is 9

In [9]:
list (enumerate(got_houses))

[(0, 'Stark'),
 (1, 'Arryn'),
 (2, 'Baratheon'),
 (3, 'Tully'),
 (4, 'Greyjoy'),
 (5, 'Lannister'),
 (6, 'Tyrell'),
 (7, 'Martell'),
 (8, 'Targaryen')]

In [11]:
# The list of numbers
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

# Let us first print the squares
for number in list_of_numbers:
  squared_number = number**2
  print(f"square of the {number} is {squared_number}")

square of the 1 is 1
square of the 2 is 4
square of the 4 is 16
square of the 6 is 36
square of the 11 is 121
square of the 14 is 196
square of the 17 is 289
square of the 20 is 400

In [14]:
squared_numbers= []

for number in list_of_numbers:
  square=number**2

  squared_numbers.append(square)
print(f"list of squared number is {squared_numbers}")

list of squared number is [1, 4, 16, 36, 121, 196, 289, 400]

In [13]:
# Let us first initialize a list where we will be appending the squares in each iteration

squared_numbers = []

for number in list_of_numbers:
  square = number**2
  # Use the append method to add the numbers one by one to our list
  squared_numbers.append(square)
  # print(squared_numbers)

print(f"The list of squared numbers is {squared_numbers}")

The list of squared numbers is [1, 4, 16, 36, 121, 196, 289, 400]