<a href="https://colab.research.google.com/github/bysubanji/Python_practice/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello, python?")

hello, python?

In [ ]:
var1 = 1
var2 = 10
print ("var1, var2")

var1, var2

In [ ]:
str = "hello world"
print(str)
print(str[:-4])
print("str" + "fun") #cncat

hello world
hello w
strfun

In [5]:
dict = {}
dict[1] = ["this is 10"]
dict[2] = ["this is 2"]
tinydict = {'name': 'Bhaskar' , 'employee':'53', 'dept':'sale'}

In [6]:
print(tinydict)

{'name': 'Bhaskar', 'employee': '53', 'dept': 'sale'}

In [7]:
print(tinydict.keys())

dict_keys(['name', 'employee', 'dept'])

In [9]:
print(tinydict.values())

dict_values(['Bhaskar', '53', 'sale'])

In [10]:
print(dict[1])

['this is 10']

## Operators

Operators are the constructs, which can manipulate the value of operands. Consider the
expression 4 + 5 = 9. Here, 4 and 5 are called operands and + is called the operator.


Python language supports the following types of operators-

 Arithmetic Operators

 Comparison (Relational) Operators

 Assignment Operators

 Logical Operators

 Bitwise Operators

 Membership Operators

 Identity Operators

In [12]:
a = 2
b =34
d = 34
print("value of d is" ,d)

value of d is 34

In [13]:
d = a+d
print("value of d is" ,d)

value of d is 36

In [14]:
d = b*a
print("value of d is" ,d)

value of d is 68

In [16]:
d = b % a
print("value of d is" ,d)

value of d is 0

In [17]:
d = a-b
print("value of d is" ,d)

value of d is -32

In [18]:
a=3
b=3
a==b

True

In [19]:
a=4
b=5
a==b

False

In [20]:
a=3
b=4
a!=b

True

In [21]:
a=3
b=3
a!=b

False