<a href="https://colab.research.google.com/github/bysubanji/Python_practice/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello, python?")

hello, python?

In [ ]:
var1 = 1
var2 = 10
print ("var1, var2")

var1, var2

In [ ]:
str = "hello world"
print(str)
print(str[:-4])
print("str" + "fun") #cncat

hello world
hello w
strfun

In [ ]:
dict = {}
dict[1] = ["this is 10"]
dict[2] = ["this is 2"]
tinydict = {'name': 'Bhaskar' , 'employee':'53', 'dept':'sale'}

In [ ]:
print(tinydict)

{'name': 'Bhaskar', 'employee': '53', 'dept': 'sale'}

In [ ]:
print(tinydict.keys())

dict_keys(['name', 'employee', 'dept'])

In [ ]:
print(tinydict.values())

dict_values(['Bhaskar', '53', 'sale'])

In [ ]:
print(dict[1])

['this is 10']

## Operators

Operators are the constructs, which can manipulate the value of operands. Consider the
expression 4 + 5 = 9. Here, 4 and 5 are called operands and + is called the operator.


Python language supports the following types of operators-

 Arithmetic Operators

 Comparison (Relational) Operators

 Assignment Operators

 Logical Operators

 Bitwise Operators

 Membership Operators

 Identity Operators

In [ ]:
a = 2
b =34
d = 34
print("value of d is" ,d)

value of d is 34

In [ ]:
d = a+d
print("value of d is" ,d)

value of d is 36

In [ ]:
d = b*a
print("value of d is" ,d)

value of d is 68

In [ ]:
d = b % a
print("value of d is" ,d)

value of d is 0

In [ ]:
d = a-b
print("value of d is" ,d)

value of d is -32

In [ ]:
a=3
b=3
a==b

True

In [ ]:
a=4
b=5
a==b

False

In [ ]:
a=3
b=4
a!=b

True

In [ ]:
a=3
b=3
a!=b

False

In [ ]:
a=3
b=4
a<=b

True

In [ ]:
a=3
b=4
a>=b

False

In [ ]:
a = 21
b = 10
if (a==b):
  print("a is equal to b")
else:
  print("a is N-equal to b")

a is N-equal to b

In [ ]:
c= a+b
print(c)

31

In [ ]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [ ]:
#Write a Python program to get the Python version you are using
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
Version info.
sys.version_info(major=3, minor=7, micro=12, releaselevel='final', serial=0)

In [ ]:
#  Write a Python program to display the current date and time.
import datetime
now = datetime.datetime.now()
print("current date and time: ")
print(now)
print(now.strftime('%y-%d-%m , %H:%M:%S'))

current date and time:
2022-01-09 09:57:01.193546
22-09-01 , 09:57:01

In [ ]:
# Write a Python program which accepts the radius of a circle from the user and compute the area
from math import pi
r = float(input("input the radius of circle: "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

input the radius of circle: 2
The area of the circle with radius 2.0 is: 12.566370614359172

In [ ]:
#  Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name : jhjjh
Input your Last Name : lklkl
Hello  lklkl jhjjh

In [2]:
# 6 Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.
value = input("Input some comma seperated number: ")
list = value.split(",")
tuple = tuple(list)
print("List", list)
print("Tuple", tuple)

Input some comma seperated number: 4,5,6,7,8,9,
List ['4', '5', '6', '7', '8', '9', '']
Tuple ('4', '5', '6', '7', '8', '9', '')

In [4]:
# 7 Write a Python program to accept a filename from the user and print the extension of that
filename = input("Filename")
fextn= filename.split(".")
print('The filename extension is : ' + repr(fextn[-1]))

Filenameklm.jpg
The filename extension is : 'jpg'

In [5]:
# 8. Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]
print("%s,%s"%(color_list[0],color_list[-1]))

Red,Black

In [6]:
# 9 Write a Python program to display the examination schedule. (extract the date from exam_st_date).
exam_st_date = (11, 12, 2014)
print("the exam will start form : %i / %i / %i"%exam_st_date)

the exam will start form : 11 / 12 / 2014

In [8]:
# 10. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn
a = int(input("input an integer : "))
n1 = int("%s"% a)
n2 = int("%s%s" % (a,a))
n3 = int("%s%s%s" % (a,a,a))
print(n1+n2+n3)

input an integer : 1
123

In [11]:
# 11. Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).
Sample_function : abs(6)
print(abs.__doc__)

Return the absolute value of the argument.